<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cyb.blogserver.dao.AccumulatePointsMapper" >
  <resultMap id="BaseResultMap" type="com.cyb.blogserver.domain.AccumulatePoints" >
    <constructor >
      <arg column="id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="user_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="parame_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="points" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="create_date" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <insert id="insert" parameterType="com.cyb.blogserver.domain.AccumulatePoints" >
    insert into accumulate_points (id, user_id, parame_id, 
      points, create_date)
    values (#{id,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{parameId,jdbcType=VARCHAR}, 
      #{points,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.cyb.blogserver.domain.AccumulatePoints" >
    insert into accumulate_points
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="parameId != null" >
        parame_id,
      </if>
      <if test="points != null" >
        points,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="parameId != null" >
        #{parameId,jdbcType=VARCHAR},
      </if>
      <if test="points != null" >
        #{points,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>