<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cyb.cleg.dao.TeamMapper" >
  <resultMap id="BaseResultMap" type="com.cyb.cleg.domain.Team" >
    <constructor >
      <arg column="id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="user_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="create_date" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <insert id="insert" parameterType="com.cyb.cleg.domain.Team" >
    insert into team (id, user_id, name, 
      create_date)
    values (#{id,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.cyb.cleg.domain.Team" >
    insert into team
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from team where id = #{id,jdbcType=VARCHAR}
  </delete>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
    select * from team where id = #{id,jdbcType=VARCHAR}
  </select>

  <select id="selectSelective" resultMap="BaseResultMap" parameterType="com.cyb.cleg.domain.Team">
    select * from team
    where 1 = 1
    <if test="userId != null and userId != ''">
      and user_id = #{userId,jdbcType=VARCHAR}
    </if>
    <if test="name != null and name != ''">
      and 'name' = #{name,jdbcType=VARCHAR}
    </if>
  </select>
</mapper>