<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cyb.cleg.dao.TeamMemberMapper" >
  <resultMap id="BaseResultMap" type="com.cyb.cleg.domain.TeamMember" >
    <constructor >
      <arg column="id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="team_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="user_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="is_captain" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="add_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <insert id="insert" parameterType="com.cyb.cleg.domain.TeamMember" >
    insert into team_member (id, team_id, user_id, 
      is_captain, add_time)
    values (#{id,jdbcType=VARCHAR}, #{teamId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, 
      #{isCaptain,jdbcType=INTEGER}, #{addTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.cyb.cleg.domain.TeamMember" >
    insert into team_member
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="teamId != null" >
        team_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="isCaptain != null" >
        is_captain,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="teamId != null" >
        #{teamId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="isCaptain != null" >
        #{isCaptain,jdbcType=INTEGER},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from team_member where id = #{id,jdbcType=VARCHAR}
  </delete>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
    select * from team where id = #{id,jdbcType=VARCHAR}
  </select>

  <select id="selectSelective" resultMap="BaseResultMap" parameterType="com.cyb.cleg.domain.TeamMember">
    select * from team_member
    where 1 = 1
    <if test="teamId != null and teamId != ''">
      and team_id = #{teamId,jdbcType=VARCHAR}
    </if>
    <if test="userId != null and userId != ''">
      and user_id = #{userId,jdbcType=VARCHAR}
    </if>
    <if test="isCaptain != null">
      and is_captain = #{isCaptain,jdbcType=INTEGER}
    </if>
  </select>
</mapper>